<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RU Explorer</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <script src="static/js/modernizr.js"></script>
  </head>
	<body>
		<div id="body_holder" style="display:none">
		<ul data-orbit 
				data-options="slide_number:false;">
			<li>
				<div class="clock">
					<center>
						<h1>
							<div class="row">
								<div class="small-12 columns" id="date"></div>
							</div>
							<div class="row">
								<div class="small-12 columns" id="time"></div>
							</div>
						</h1>
					</center>
				</div>
				<script src="static/js/clock.js"></script>
			</li>
			<li>
				<div id="bus">
					<h1>Bus stops</h1>
					{% for route in bus %}
					<div class="small-3 large-3 columns">
						<table>
							<thead>
								<tr>
									<th>{{route}}</th>
								</tr>
							</thead>
							<tbody>
								{% for stop in bus[route] %}
								<tr>
									<td>{{stop.title}} {{stop.direction}}</td>
									{% if stop.predictions %}
										{% for predict in stop.predictions %}
											<td>{{predict.minutes}}</td>
										{% endfor %}
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% endfor %}
				</div>
			</li>
			<li>
				<div id="events">
					<h1>Nearby events</h1>
					<div class="row">
						<div class="small-12 small-centered columns">
							<table>
								<thead>
									<tr>
										<th>Title</th>
										<th>Time</th>
										<th>Location</th>
										<th>Organization</th>
									</tr>
								</thead>
								<tbody>
								{% for event in events %}
									<tr>
										<td>{{event.title}}</td>
										<td>{{event.event_begindatetime}}</td>
										<td>{{event.event_location}} {{event.event_room}}</td>
										<td>{{event.event_orgname}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div id="sports">
					<h1>Sports</h1>
					<div class="row">
						<div class="small-12 small-centered columns">
							<table>
								<thead>
									<tr>
										<th>Sport</th>
										<th>Opponent</th>
										<th>Location</th>
										<th>Date</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>
								{% for sport in sports %}
									<tr>
										<td>{{sport.sport}}</td>
										<td>{{sport.opponent}}</td>
										<td>{{sport.location}}</td>
										<td>{{sport.datetime}}</td>
										<td>{{sport.score}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div id="weather">
					<h1>Weather</h1>
					<div class="row">
						<div class="small-12 columns">
							<h3>{{weather.current_observation.display_location.full}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="small-6 columns">
							<img src="{{weather.current_observation.icon_url}}" alt="{{weather.current_observation.icon}}">
						</div>
						<div class="small-6 columns">
							{{weather.current_observation.weather}}
							<br/>
							{{weather.current_observation.feelslike_string}}
							<br/>
							Humidity: {{weather.current_observation.relative_humidity}}
							<br/>
							Precipitation: {{weather.current_observation.precip_today_string}}
							<br/>
							Wind: {{weather.current_observation.wind_string}} ({{weather.current_observation.wind_gust_mph}} MPH {{weather.current_observation.wind_dir}})
							<br/>
							<br/>
							{{weather.current_observation.observation_time}}
						</div>
					</div>
				</div>
			</li>
		</ul>
		</div>
		<script src="static/js/jquery.js"></script>
		<script src="static/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
			setTimeout(function(){location.reload(true)}, 50000);
			$(document).ready(function() {
				$('#body_holder').show();
			});
		</script>
	</body>
</html>
