<!DOCTYPE html>
<html>
<body>
<p id="body"></p>
<script>
var x=document.getElementById("body");
function getLocation()
{
	if (navigator.geolocation)
	{
		x.innerHTML = "Getting current position...";
		navigator.geolocation.getCurrentPosition(function(position){
			window.location = "/explore?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude;
		});
	} else {
		x.innerHTML="Geolocation is not supported by this browser.";
	}
}
window.onload = getLocation;
</script>
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
</body>
</html>
